Source: kcoreaddons
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Michał Zając <quintasan@kubuntu.org>
Build-Depends: debhelper (>= 8.0.0), cmake,
 extra-cmake-modules (>= 0.0.10),
 qtbase5-dev,
 pkg-kde-tools
Standards-Version: 3.9.5
Section: libs
Homepage: http://projects.kde.org/kcoreaddons

Package: libkf5coreaddons-dev
Section: libdevel
Architecture: any
Depends: libkf5coreaddons4 (= ${binary:Version})
Description: KDE Frameworks 5 addons to QtCore - development files
 This package contains development librariers for KCoreAddons module of
 KDE Frameworks 5.

Package: libkf5coreaddons4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE Frameworks 5 addons to QtCore
 This package contains KCoreAddons libraries - a part of KDE Frameworks 5

Package: libkf5coreaddons4-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libkf5coreaddons4 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: KDE Frameworks 5 addons to QtCore - debugging symbols
 This package contains debugging symbols for KCoreAddons module
