Source: kcoreaddons
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               doxygen,
               extra-cmake-modules (>= 5.38.0~),
               graphviz,
               libfam-dev,
               libqt5sql5-sqlite:native,
               pkg-kde-tools (>= 0.15.16~),
               qtbase5-dev (>= 5.7.0~),
               qttools5-dev (>= 5.4),
               qttools5-dev-tools (>= 5.4),
               shared-mime-info (>= 1.3),
Standards-Version: 4.1.2
Homepage: http://projects.kde.org/kcoreaddons
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/frameworks/kcoreaddons.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/kcoreaddons.git

Package: libkf5coreaddons-dev-bin
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: libkf5coreaddons-dev (<< 5.15.0-2~)
Breaks: libkf5coreaddons-dev (<< 5.15.0-2~)
Description: KDE Frameworks 5 addons to QtCore - development files
 KCoreAddons provides classes built on top of QtCore to perform various tasks
 such as manipulating mime types, autosaving files, creating backup files,
 generating random sequences, performing text manipulations such as macro
 replacement, accessing user information and many more.
 .
 This package is part of KDE Frameworks 5.
 .
 This package is an implementation detail for KCoreAddons.

Package: libkf5coreaddons-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: libkf5coreaddons-dev (<= 5.8.0-1)
Breaks: libkf5coreaddons-dev (<= 5.8.0-1)
Description: KDE Frameworks 5 addons to QtCore - data files
 KCoreAddons provides classes built on top of QtCore to perform various tasks
 such as manipulating mime types, autosaving files, creating backup files,
 generating random sequences, performing text manipulations such as macro
 replacement, accessing user information and many more.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the arch independent files for KCoreAddons.

Package: libkf5coreaddons-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libkf5coreaddons-dev-bin (= ${binary:Version}),
         libkf5coreaddons5 (= ${binary:Version}),
         qtbase5-dev (>= 5.7.0~),
         ${shlibs:Depends},
Replaces: libkf5service-dev (<= 5.2.0)
          libkf5coreaddons-bin-dev (<< 5.41),
Breaks: baloo-kf5-dev (<< 5.37),
        kded5-dev (<< 5.37),
        libkf5auth-dev (<< 5.37),
        libkf5crash-dev (<< 5.37),
        libkf5guiaddons-dev (<< 5.37),
        libkf5jobwidgets-dev (<< 5.37),
        libkf5notifications-dev (<< 5.37),
        libkf5package-dev (<< 5.37),
        libkf5pty-dev (<< 5.37),
        libkf5service-dev (<< 5.37),
        libkf5coreaddons-bin-dev (<< 5.41),
Recommends: libkf5coreaddons-doc (= ${source:Version})
Description: KDE Frameworks 5 addons to QtCore - development files
 KCoreAddons provides classes built on top of QtCore to perform various tasks
 such as manipulating mime types, autosaving files, creating backup files,
 generating random sequences, performing text manipulations such as macro
 replacement, accessing user information and many more.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the development files for KCoreAddons.

Package: libkf5coreaddons-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: KDE Frameworks 5 addons to QtCore (documentation)
 KCoreAddons provides classes built on top of QtCore to perform various tasks
 such as manipulating mime types, autosaving files, creating backup files,
 generating random sequences, performing text manipulations such as macro
 replacement, accessing user information and many more.
 .
 This package is part of KDE Frameworks 5.
 .
 This package contains the qch documentation files.
Section: doc

Package: libkf5coreaddons5
Architecture: any
Multi-Arch: same
Depends: libkf5coreaddons-data (= ${source:Version}),
         shared-mime-info (>= 1.3),
         ${misc:Depends},
         ${shlibs:Depends},
Description: KDE Frameworks 5 addons to QtCore
 KCoreAddons provides classes built on top of QtCore to perform various tasks
 such as manipulating mime types, autosaving files, creating backup files,
 generating random sequences, performing text manipulations such as macro
 replacement, accessing user information and many more.
 .
 This package is part of KDE Frameworks 5.
Breaks: baloo-kf5 (<< 5.37),
        frameworkintegration (<< 5.28),
        kded5 (<< 5.37),
        kgendesignerplugin (<< 5.37),
        kinit (<< 5.37),
        kio (<< 5.37),
        kpackagelauncherqml (<< 5.37),
        kpackagetool5 (<< 5.37),
        kross (<< 5.37),
        ktexteditor-katepart (<< 5.37),
        libkf5auth5 (<< 5.37),
        libkf5baloo5 (<< 5.37),
        libkf5bookmarks5 (<< 5.37),
        libkf5configwidgets5 (<< 5.37),
        libkf5crash5 (<< 5.37),
        libkf5emoticons-bin (<< 5.37),
        libkf5emoticons5 (<< 5.37),
        libkf5globalaccel-bin (<< 5.37),
        libkf5globalaccelprivate5 (<< 5.37),
        libkf5iconthemes5 (<< 5.37),
        libkf5jobwidgets5 (<< 5.37),
        libkf5kcmutils5 (<< 5.37),
        libkf5kdelibs4support5 (<< 5.37),
        libkf5kdelibs4support5-bin (<< 5.37),
        libkf5khtml-bin (<< 5.37),
        libkf5khtml5 (<< 5.37),
        libkf5kiocore5 (<< 5.37),
        libkf5kiofilewidgets5 (<< 5.37),
        libkf5kiogui5 (<< 5.37),
        libkf5kiontlm5 (<< 5.37),
        libkf5kiowidgets5 (<< 5.37),
        libkf5newstuff5 (<< 5.37),
        libkf5newstuffcore5 (<< 5.37),
        libkf5notifications5 (<< 5.37),
        libkf5package5 (<< 5.37),
        libkf5parts-plugins (<< 5.37),
        libkf5parts5 (<< 5.37),
        libkf5people5 (<< 5.37),
        libkf5peoplewidgets5 (<< 5.37),
        libkf5plasma5 (<< 5.37),
        libkf5plasmaquick5 (<< 5.37),
        libkf5pty5 (<< 5.37),
        libkf5quickaddons5 (<< 5.37),
        libkf5runner5 (<< 5.37),
        libkf5service-bin (<< 5.37),
        libkf5service5 (<< 5.37),
        libkf5su-bin (<< 5.37),
        libkf5su5 (<< 5.37),
        libkf5texteditor5 (<< 5.37),
        libkf5textwidgets5 (<< 5.37),
        libkf5wallet-bin (<< 5.37),
        libkf5webkit5 (<< 5.37),
        libkf5xmlgui5 (<< 5.37),
        libkf5xmlrpcclient5 (<< 5.37),
        plasma-framework (<< 5.37),
        qml-module-org-kde-activities (<< 5.37),
        qml-module-org-kde-extensionplugin (<< 5.28),
        qml-module-org-kde-kcoreaddons (<< 5.37),
